<!DOCTYPE html>
<html>
<head>
    <title>Oops, Sorry!!!!</title>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/jquery.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/modernizr.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/placeholder.js"></script>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/normalize.min.css' />

</head>
<body>
<br />
<style>
    body {
        background-color: #2c3e50;
    }
    .txt-info {
        font-family: 'Helvetica Neue Light', 'Lucida Grande', 'Calibri', 'Arial', sans-serif;
        font-size: 48px;


    }
</style>
<div class="row">
    <div class="large-12 columns" style="text-align: center; padding-top: 15%; ">
        <div class="round alert label" style="font-size: 148px">404!</div>
        <div class="txt-info subheader"><%= title %></div>

        <a href="/" class="button radius">Go Home!</a>
    </div>
</div>
</body>
</html>