
<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/dashboard/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ஜமாலன்</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Signed in as Admin</p></li>
                <li><a href="/#">Change Password</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="mainList" class="nav nav-sidebar">
                <h3 style="text-align: center">Dashboard</h3>
                <li id="aOverview" ><a href="#/">Overview</a></li>
                <li><a href="#/reports">Reports</a></li>
                <li><a href="#/analyctics">Analytics</a></li>
                <h3 style="text-align: center">Blog Control</h3>
                <li><a style="background-color: #65c252; color: white;" href="/create/post">New Post</a></li>
                <li><a href="#/manageposts">Manage Posts</a></li>
                <h3 style="text-align: center">Feedbacks</h3>
                <li><a href="#/feedbacks">Recents</a></li>
                <hr />
                <li><a style="background-color: red; color: white;" href="/logout">Logout</a></li>
            </ul>
        </div>
        <!--ng-View Content-->
        <div id="pagination">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div ng-view></div>
            </div>
        </div>
        <!--ng-View Content Ends here -->
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="application/javascript" src="/javascripts/dashboard/bootstrap.min.js"></script>
<script type="application/javascript" src="/javascripts/dashboard/dashControl.min.js"></script>

<!-- Required Scripts and Styles-->
<script type="application/javascript" src="/javascripts/angularjs/angular.min.js" ></script>
<script type="application/javascript" src="/javascripts/angularjs/angular-route.min.js" ></script>
<script type="application/javascript" src="/javascripts/angularjs/angular-sanitize.min.js" ></script>

<script type="application/javascript" src="/javascripts/dashboard/app/app.js" ></script>
<script type="application/javascript" src="/javascripts/dashboard/app/controllers.js" ></script>



</body>
</html>
