<!DOCTYPE html>
<html ng-app="maJamalan">
<head>
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
    <link rel="icon" href="/favicon.ico">
    <title><%= title %></title>

    <!-- Required Scripts and Styles-->
    <script type="application/javascript" src="/javascripts/angularjs/angular.min.js" ></script>
    <script type="application/javascript" src="/javascripts/angularjs/angular-route.min.js" ></script>
    <script type="application/javascript" src="/javascripts/angularjs/angular-sanitize.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.min.js" type="application/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js" type="application/javascript"></script>

    <script type="application/javascript" src="/javascripts/angularskelton/myApp.js" ></script>
    <script type="application/javascript" src="/javascripts/angularskelton/myAppControllers.js" ></script>
    <script type="application/javascript" src="/javascripts/angularskelton/myAppServices.js" ></script>

    <!--Template Scripts and Styles-->
    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/jquery.dropotron.min.js"></script>
    <script src="/javascripts/template/skel.min.js"></script>
    <script src="/javascripts/template/skel-layers.min.js"></script>
    <script src="/javascripts/template/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/stylesheets/template/skel.css" />
        <link rel="stylesheet" href="/stylesheets/template/style.css" />
        <link rel="stylesheet" href="/stylesheets/template/style-desktop.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

    <!--My Custom Scripts and Styles-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/myScript.min.js" type="application/javascript"></script>
    <script src="/javascripts/splitter.min.js" type="application/javascript"></script>
    <script>
        $(document).ready(function(){
            getControls(<%= isUser %>, <%= isAdmin %>,'<%= user %>');
        });
    </script>
</head>
<body>

<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="">

        <!-- Logo -->
        <h1 id="logo"><a href="/">ஜமாலன்</a></h1>
        <p style="background-color:orange;color:red">This site is still under testing. Please leave <a href="/#contactus" >feedback</a>; If Login Error, try <a href="http://ec2-54-165-166-199.compute-1.amazonaws.com/"> here (Original Site) </a></p>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a class="icon fa-home" href="/"><span>முகப்பு</span></a></li>
                <li><a class="icon fa-info" href="#/about"><span>அறிமுகம்</span></a></li>
                <li>
                    <a href="" class="icon fa-pagelines"><span>கட்டுரைகள்</span></a>
                    <ul>
                        <li><a href="#/category/உடலரசியல்">உடலரசியல்</a></li>
                        <li><a href="#/category/பெண்ணியம்">பெண்ணியம்</a></li>
                        <li><a href="#/category/கலை">கலை இலக்கியம்</a></li>
                        <li><a href="#/category/அரசியல்">அரசியல்</a></li>
                        <li><a href="#/category/சினிமா">சினிமா</a></li>
                    </ul>
                </li>

                <li><a class="icon fa-book" href="#/books"><span>நூல்கள்</span></a></li>
                <li><a class="icon fa-link" href="#/links"><span>இணைப்புகள்</span></a></li>
                <li><a class="icon fa-envelope-o" href="#/contactus"><span>தொடர்பு</span></a></li>
                <li id="authControl"><a class="icon fa-sign-in" href="/auth"><span>உள்நுளை</span></a></li>
                <li id="userControl">
                    <a class="icon fa-user"><span> <%= user %></span></a>
                    <ul>
                        <li><a href="/logout" class="icon fa-close"> logout </a> </li>
                    </ul>
                </li>
                <li id="adminControl">
                    <a class="icon fa-user" ><span> <%= user %></span></a>
                    <ul>
                        <li><a href="/admin/dashboard" class="icon fa-gears"> Dashboard</a> </li>
                        <li><a href="/logout" class="icon fa-close"> logout</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>

<div id="main-wrapper">
    <a href="#" class="back-to-top">Back to Top</a>
    <div id="main" class="container">
        <div ng-view></div>
    </div>
    <a href="#" class="go-to-comment">Go to Bottom</a>
</div>

<div id="copyright" class="container">
    <ul class="links">
        <li>&copy; MahaS ThozilNutpam. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net/strongly-typed">HTML5 UP</a></li>
        <li>Managed By: <a href="http://about.me/mahadeer">MahaS</a></li>
    </ul>
</div>
</body>
</html>