<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<section class="center-page" id="login">
    <div class=" well container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <h1>Third Party Sign-in</h1>
                <div>
                    <a href="/auth/google" class="btn btn-block btn-lg btn-social btn-google-plus">
                        <i class="fa fa-google-plus"></i> Sign in with Google
                    </a>
                </div>
                <div style="text-align: center">
                    <br /> <h4>(or)</h4>
                    <h3>More third party to add soon..</h3>
                    <a href="/" class="btn btn-md btn-danger">Cancel</a>
                    <br />
                    <br />
                </div>
            </div> <!-- /.col-xs-12 -->
            <div class="admin-portal col-xs-12 col-sm-6 col-lg-6">
                <div class="form-wrap">
                    <h1>Admin Portal</h1>
                    <form role="form" method="post" action="/auth" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" name="username" id="email" class="form-control" placeholder="somebody@example.com">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="password" id="key" class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>
                    <hr>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
</div>
</body>
</html>