<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://cdn.jsdelivr.net/g/angular.textangular@1.2.2(textAngular-sanitize.min.js+textAngular.min.js)" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/post/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/post/blog.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="myapp" ng-controller="editCtrl">
<script>
    var myapp = angular.module('myapp',['textAngular']);
    myapp.controller('editCtrl',['$scope',function($scope){
        if(<%= isEditing %>){
            $scope.title = '<%= postTitle %>';
            $scope.category = '<%= postCategory %>';
            $scope.content = '<%- postContent %>';
            $scope.action = '/edit/post/<%= id %>';
        } else {
            $scope.title = '';
            $scope.category = '';
            $scope.content = '';
            $scope.action = '/create/post';
        }
    }]);
</script>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/">முகப்பு</a>
            <a class="blog-nav-item" href="/admin/dashboard"><%= user.displayName %></a>
            <a class="blog-nav-item blog-nav-center active">புதிய பதிவு</a>
            <a class="btn btn-primary blog-nav-item navbar-right" href="/logout">Logout</a>
        </nav>
    </div>
</div>


<div class="container">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Warning!</strong> Please don't use single quotes (<b>'</b>) on the editor!!!
    </div>
    <form role="form" method="post" action="{{action}}" id="post-form" autocomplete="off">
        <div class="blog-header">
            <input type="text" name="title" ng-model="title" class="blog-title " placeholder="பதிப்பின் தலைப்பு!" /> <br />
            <input type="text" name="category" ng-model="category" class="lead blog-description" placeholder="பதிப்பின் வகை!!" />
        </div>

        <div class="blog-main" text-angular name="htmlcontent" ng-model="content"></div>

        <div class="col-md-12">
            <input type="submit" id="submit" class="btn btn-md col-md-6 btn-primary btn-lg" value="Publish" />
            <a href="/admin/dashboard#/manageposts" class="btn btn-md col-md-6 btn-danger btn-lg">Cancel</a>
        </div>
    </form>
    <br />
    <br />
    <br />
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Desgined by Mahadeer Mohamed.</p>
        </div>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>