<div ng-controller="managepostsCtrl">
    <h1 class="page-header">{{title}}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Posts</div>
                    </div>
                    <div id="panel-body" class="panel-body">
                        <input type="text" ng-model="search" class="form-control" id="post-table-filter" data-action="filter" data-filters="#post-table" placeholder="Filter Posts" />
                    </div>
                    <div class="table-responsive">
                        <table id="post-table" class="table table-bordred table-striped">
                            <thead>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in datas | filter:search">
                                <td>{{data.title}}</td>
                                <td>{{data.category}}</td>
                                <td><p><a class="btn btn-primary btn-xs" href="/edit/post/{{data._id}}"><span class="glyphicon glyphicon-pencil"></span></a></p></td>
                                <td><p><a class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-trash"></span></a></p></td>
                            </tr>
                            <tr>
                                <td><p class="text-muted" ng-show="(datas | filter:search).length==0">Sorry No Result Found</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                </div>
                <div class="modal-footer ">
                    <a class="btn btn-danger" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</a>
                    <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>