
<div ng-controller="Controller.404">

<style>
    .txt-info {
        font-family: 'Helvetica Neue Light', 'Lucida Grande', 'Calibri', 'Arial', sans-serif;
        font-size: 48px;

    }
</style>
        <div style="font-size: 148px">404!</div>
        <br />
    <br />
        <div class="txt-info">{{error}}</div>
        <br/>
        <a href="/" class="button">Go Home!</a>
</div>