<ul>
    <li>
        <article class="box highlight">
            <header>
                <h3 style="font-weight:bolder"><a href="#">புதியநூல்</a></h3>
            </header>
            <a href="#" class="image left">
                <img src="../images/jamalan-book2.jpg" width="100" height="120" /></a>
            <p>
                நவீன தொன்மங்களும் நாடோடிக் குறி்ப்புகளும்
            </p>
            <ul class="actions" style="text-align:center">
                <li><a href="#" class="button icon fa-book">காண்க</a></li>
            </ul>
        </article>

    </li>

    <li>
        <article class="box highlight">
            <header>
                <h3 style="font-weight:bolder"><a href="#">முதல்நூல்</a></h3>
            </header>
            <a href="#" class="image left" >
                <img src="../images/jamalan-book1.jpg" />
            </a>
            <p>
                மொழியும் நிலமும்
            </p>
            <ul class="actions" style="text-align:center">
                <li><a href="#" class="button icon fa-book">காண்க</a></li>
            </ul>
        </article>
    </li>
</ul>