<div ng-controller="Controller.Category">
    <div style="text-align: center; background-color: orange;"><h3 style="color: red; ">{{label}}</h3></div>
    <div class="row">
        <!-- Content -->
        <div id="content" class="8u">

            <!-- Post -->
            <article ng-repeat="post in posts" class="box post">
                <header>
                    <h2>
                        <a href="#/post/{{post._id}}">
                            {{post.title}}
                        </a>
                    </h2>
                </header>
                <h5>{{post.posted}}</h5>
                <!--<div style="width:50%; height:50%;" class="image featured" ng-bind-html="getImage(post.content)"></div>-->
                <div ng-bind-html="getShortContent(post.content)"></div>
                <label>{{post.likes.total}} Likes</label>
                <label ng-bind-html="getComments(post.comments)"></label>
                <ul class="actions">
                    <li><a href="#/post/{{post._id}}" class="button icon fa-arrow-right">தொடர்ந்து</a></li>
                </ul>
            </article>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="4u">

            <section>
                <ul class="divided">
                    <li>

                        <!-- Highlight -->
                        <article class="box highlight">
                            <header>
                                <h3><a href="#">About Me</a></h3>
                            </header>
                            <a class="image left" href="#/about">
                                <img src="../images/me.jpg" style="width: 120px; height: 120px" /></a>
                            <p>
                                தமிழ் சிறுபத்திரிக்கை மற்றும் இலக்கிய வாசகன்.
                            </p>
                            <ul class="actions" style="text-align:center">
                                <li><a href="#" class="button icon fa-info">முழு சுயவிவரம்</a></li>
                            </ul>
                        </article>

                    </li>
                    <li>
                        <article class="box highlight">
                            <header>
                                <h3 style="font-weight:bolder"><a href="#">புதியநூல்</a></h3>
                            </header>
                            <a href="#" class="image left">
                                <img src="../images/jamalan-book2.jpg" width="100" height="120" /></a>
                            <p>
                                நவீன தொன்மங்களும் நாடோடிக் குறி்ப்புகளும்
                            </p>
                            <ul class="actions" style="text-align:center">
                                <li><a href="#" class="button icon fa-book">காண்க</a></li>
                            </ul>
                        </article>

                    </li>
                    <li>
                        <article class="box highlight">
                            <header>
                                <h3 style="font-weight:bolder"><a href="#">முதல்நூல்</a></h3>
                            </header>
                            <a href="#" class="image left" >
                                <img src="../images/jamalan-book1.jpg" />
                            </a>
                            <p>
                                மொழியும் நிலமும்
                            </p>
                            <ul class="actions" style="text-align:center">
                                <li><a href="#" class="button icon fa-book">காண்க</a></li>
                            </ul>
                        </article>

                    </li>
                </ul>
            </section>


        </div>
    </div>