<div ng-controller="Controller.ContactUs">
    <header>
        <h2>கேள்விகள் (அ) கருத்துகள்? <strong>தொடர்பு பெற:</strong></h2>
    </header>
    <div class="row">
        <div class="6u">
            <section>
                <form method="post" action="/feedback">
                    <div class="row 50%">
                        <div class="6u">
                            <input required name="name" placeholder="உங்கள் பெயர்" type="text">
                        </div>
                        <div class="6u">
                            <input name="email" placeholder="உங்கள் மின்னஞ்சல்" type="text">
                        </div>
                    </div>
                    <div class="row 50%">
                        <div class="12u">
                            <textarea required style="resize: none" name="message" placeholder="சொல்ல விரும்பும் தகவல்..."></textarea>
                        </div>
                    </div>
                    <div class="row 50%">
                        <div class="12u">
                            <input type="submit" class="form-button-submit button icon fa-envelope" value="தகவல் அனப்பு" />
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="6u">
            <section>
                <p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
                    mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
                    leo nibh, rutrum eu malesuada.</p>
                <div class="row">
                    <div class="6u">
                        <ul class="icons">
                            <li class="icon fa-home">
                                No: 04, Sabhi Nagar 1<sup>st</sup> St,<br>
                                Muthapudhupet, Avadi,Chennai - 55<br>
                                Tamil Nadu, India
                            </li>
                            <li class="icon fa-phone">
                                (+91) - 7401034640
                            </li>
                            <li class="icon fa-envelope">
                                <a href="mailto:jamalan.web@gmail.com">jamalan.web@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="6u">
                        <ul class="icons">
                            <li class="icon fa-google">
                                <a href="http://jamalantamil.blogspot.in">Jamalan Blog</a>
                            </li>
                            <li class="icon fa-facebook">
                                <a href="https://www.facebook.com/jamalan.tamil">Jamalan Tamil</a>
                            </li>
                            <li class="icon fa-twitter">
                                <a href="https://twitter.com/JamalanJahir">@JamalanJahir</a>
                            </li>
                            <li class="icon fa-photo">
                                <a href="http://about.me/jamalan">about.me</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>