
<div ng-controller="Controller.Post">
    <link rel="stylesheet" href="/stylesheets/template/commentBox.css" />
    <div id="content">

        <!-- Post -->
        <article class="box post">
            <header>
                <h2>{{post.title}}</h2>
                <h5>{{post.posted}}</h5>
            </header>
            <div ng-bind-html="renderHtml(post.content)"></div>

            <!-- Angular-UI Modal -->
            <script type="text/ng-template" id="myLikeModal.html">
                <div>
                    <div class="modal-header">
                        <h3 class="modal-title">People Liked This!</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li ng-hide="people === null" ng-repeat="this in people">
                                <img alt="" src="{{this.image + '?sz=28'}}" /> {{this.name}}
                            </li>
                            <li ng-show="people === null">
                                <h5>No people liked this!</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" ng-click="done()">Done</button>
                    </div>
                </div>
            </script>
            <!-- Angular Modal Ends here..-->
            <link rel="stylesheet" href="/stylesheets/modalStyles.css" />
            <a href="javascript:void(0)" ng-click="showLikes(post.likes.people)"> {{post.likes.total}} Likes </a>
            <div id="likePost">
                <a class="fa fa-thumbs-o-up" href="{{'/post/' + post._id + '/like'}}">
                    <span> Like</span>
                </a>
            </div>

        </article>
        <hr />
        <div class="comments-section">
            <h1>Comments Section..</h1>

            <div ng-repeat="comment in comments">
                <div class="media list-group">
                    <div class="list-group-item">
                        <a class="media-left">
                            <img src="{{comment.author.image + '?sz=64'}}" alt="{{comment.author.displayName}}" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.author.displayName}} <small>{{comment.posted}}</small></h4>
                            {{comment.body}}
                            <div>
                                <a href="javascript:void(0)" ng-click="showLikes(comment.likes.people)">{{comment.likes.total}} Likes</a>
                            </div>
                            <div ng-repeat="this in comment.likes.people">
                                <div ng-init="validate(this.image,comment._id)" ></div>
                            </div>
                            <div id="{{'commentBy' + comment._id}}">
                                <a class="fa fa-thumbs-o-up" href="{{'/comment/' + comment._id + '/like'}}"> Like</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-form">
                <h2 ng-hide="auth"><a href="/auth">Login</a> to Comment...</h2>
                <div ng-show="auth">
                    <h3>Comment-Form</h3>
                    <form role="form" method="post" action="{{'/post/comment/' + post._id }}" id="post-form" autocomplete="off">
                        <textarea name="comment" style="resize:none;width:70%;height:100px;"></textarea>
                        <br />
                        <input type="submit" id="submit" class="btn btn-success btn-custom btn-lg " value="Comment" />
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>